html {
	height: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #EEE;
	margin: 0 0;
	min-height: 100%;
	background: url("/static/img/Waves.jpg") center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*Sections*/

.title {
	background-color: rgba(0, 0, 0, 0.25);
	position: fixed;
	height: 64px;
	font-size: 48px;
	z-index: 1;
}

.logo {
	width: 128px;
	height: 64px;
	position: absolute;
	left: 0;
	top: 0;
}

@media (max-width:499px) {
	.logo {
		display: none;
	}
}

.titlespace {
	height: 64px;
}

.flash {
	background-color: rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.25);
}

.content {
}

.footerspace {
	height: 24px;
}

.footer {
	z-index: 1;
	height: 24px;
	background-color: rgba(0, 0, 0, 0.25);
	position: fixed;
	bottom: 0;
	left: 0;
}

input, select, textarea, a.button, p.tag {
	box-sizing: border-box;
	color: #EEE;
	font-size: 12px;
	background-color: rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.25);
}

option {
	background-color: #000;
	border: none;
}

textarea {
	min-height: 512px;
}

.login input, a.button, p.tag {
	display: block;
	float: left;
	padding: 0;
	margin: 2px;
}

.wide-form input[type=email],
.wide-form input[type=password],
.wide-form input[type=username],
.wide-form input[type=text],
.wide-form select,
.wide-form textarea {
	width: 100%;
}

.login input[type=email],
.login input[type=password],
.login input[type=submit],
a.button {
	line-height: normal !important;
}

.login input[type=email],
.login input[type=password],
.login input[type=submit],
a.button,
p.tag {
	height: 20px;
}

a.button {
	text-decoration: none;
}

a {
	color: #EEE;
}

/*Blocks*/

.floatleft, .floatright, .block1, .block4 {
	display: block;
	box-sizing: border-box;
}

.block1 {
	width: 100%;
}

@media (min-width:1000px) {
	.block2 {
		width: 50%;
	}
	
	.block4 {
		width: 25%;
	}
}

@media (min-width:500px) and (max-width:999px) {
	.block2 {
		width: 100%;
	}

	.block4 {
		width: 50%;
	}
}

@media (max-width:499px) {
	.block4 {
		width: 100%;
	}
}

.centre {
	margin: 0 auto;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.clear {
	clear: both;
}

/*Styles*/

.text-centre {
	text-align: center;
}

/*Posts*/

.post, .post-view {
	background-color: rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.25);
}

.post {
	position: relative;
	height: 256px;
	overflow: hidden;
}

.post img, .post-title, .post-author, .post-url {
	position: absolute;
}

.post img {
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

.post-title,
.post-author,
.post-url,
.post-view-title,
.post-view-author,
.post-view-url,
.post-view-content {
	color: #EEE;
	background-color: rgba(0, 0, 0, 0.25);
}

.post-title, .post-author, .post-url {
	left: 8px;
	right: 8px;
	padding-left: 16px;
}

.post-view-title,
.post-view-author,
.post-view-url,
.post-view-content {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}

.post-title, .post-view-title {
	font-size: 24px;
}

.post-title {
	top: 8px;
}

.post-author, .post-view-author {
	font-size: 16px;
}

.post-author {
	top: 28px;
}

.post-url, .post-view-url {
	font-size: 16px;
}

.post-url {
	bottom: 8px;
}

.post-view-content {
}