.task,
.task-head,
a.task-title,
p.task-info,
a.task-add {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.task-head {
	display: inline-block;
	position: relative;
}

a.task-add {
	color: #0F0;
	position: absolute;
	right: 0;
	top: 0;
}
